

.splash-container {
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: row;
    background-image: url('https://images.unsplash.com/photo-1565214975484-3cfa9e56f914');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.splash-header {
    color: aliceblue;
    padding-left:20px;
    margin: auto;
    width: 50%;
    text-align: center;
    
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;

}

.splash-header img {
    max-width: 1000px;


    border-radius: 5px;
}

.about-line a {
    /* background-color: white; */
    color: aliceblue;
    text-decoration: none;
    font-style: italic;

}


.about-line a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

.login-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img-circle {
    width: 300px;
    height: 300px;
    border-radius: 50px;
    overflow: hidden;
}

.img-div {

    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}
