.new-page-container {
    display: flex;
    flex-direction: row;


}

.page-form {
    /* margin-top: 50px;
    margin-left: 50px; */
    /* margin-right: 150px;
    width: 550px; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    max-height: 100vh;
    overflow: scroll;

}

input::placeholder {
    padding-left: 10px;
}

textarea::placeholder {
        padding-top: 5px;
        padding-left: 10px;

}


.page-view-container{

    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    max-height: 1000px;
    overflow: scroll;
    position: relative;
}

.page-header {
    display: flex;
    flex-direction: column;

}

.template-button {
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    height: 30px;
}

.template-button:hover {
    border: 1px solid black;
    cursor: pointer;
}
.page-image {
    min-height: 200px;
    max-height: 200px;
    width: 800px;
    /* border: 1px solid black; */
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 20px;

}
.page-image img {
    height: 100;
    width: 800px;
}

.page-icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position:absolute;
    /* right: 350px; */
    left: 75px;
    top: 130px;
    z-index: 100;
    background-color: white;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(217deg, rgba(171, 27, 184, 0.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(106, 0, 255, 0.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0, 187, 255, 0.8), rgba(0,0,255,0) 70.71%),
                white;

}

.page-icon img {
    height: 75px;
    width: 75px;

}



.new-page-button {
    margin: 10px;
}

.page-container {
    overflow: scroll;
}


.quill {
    width: auto;
    height: auto;
    margin-bottom: 10px;
    overflow: visible;
}

.quill * {
    overflow: visible;
}

.ql-tooltip .ql-editing {
    z-index: 100;
}

.quilltainer {
    overflow: visible;
}

button.ql-link, button.ql-clean  {
    visibility: hidden;
}

.option-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-button {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px
}

.card-button:hover {

    background-color: white;
    border: 1px solid black;
    color: green;
    cursor: pointer;
}
