.new-page-container {
    display: flex;
    flex-direction: row;
}

.page-form {
    margin-top: 50px;
    margin-left: 50px;
}


.page-view-container{

    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 50px;
    margin-top: 50px;
}

.page-header {
    display: flex;
    flex-direction: column;

}

.template-button {
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    height: 30px;
}

.template-button:hover {
    border: 1px solid black;
    cursor: pointer;
}
.page-image {
    height: 200px;
    width: 800px;
    /* border: 1px solid black; */
    overflow: hidden;
    border-radius: 3px;
}
.page-image img {
    height: 100;
    width: 800px;
}

.page-icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position:absolute;
    left: 260px;
    top: 180px;
    z-index: 100;
    background-color: grey;
    overflow: hidden;
}

.page-icon img {
    height: 100px;
    width: 100px;


}


.quill {
    width: 400px;
    height: auto;
    margin-bottom: 10px;
}

.quilltainer {

}
