.project-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-right: black 1px solid;
    max-width: 200px;
    height: 100vh;
    padding-right: 8px;
}

.project-button {
    border: none;
    width: 200px;
    height: 30px;
    background-color: white;
    border-radius: 2px;
}

.project-button:hover {
    background-color: black;
    color: white;
    cursor:pointer;
}

.new-project-button:hover {
    background-color: black;
    color: white;
}
