
.new-page-form input {
    margin-bottom: 10px;
    width: 400px;

}

.new-page-form textarea {
    font-family: serif;
    margin-bottom: 10px;
}

.new-page-form label {
    color: rgb(87, 87, 87);
}

.quill {
    width: 50vw;
    height: 80vh;
    padding: auto;
    margin: auto;
}

.quilltainer {
    height: 80vh;
}

.new-page-form {
    display: flex;
    flex-direction: row;
}
