#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition-property: background-color;
    transition-timing-function: ease-in;
    transition-duration: 2s;
    background-color: rgba(0, 0, 0, .1);
  }

  #modal-background:hover:after {
      background-color: black;
  }

  #modal-content {
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    padding: 50px 100px 50px 100px;

  }

  .modal-label {
    font-family: sans-serif;
    color: black;
    padding: 0;
    margin: 0 0 10px 0
  }

  .error-box {
      min-height: 30px;
      max-height: fit-content;
      width: 400px;
      box-sizing: border-box;
      color: red;
      margin-bottom: 10px;

  }
